<md-input-container class="md-block" ng-if="!ctrl.widget.upload">
    <label>URL</label>
    <input type="url" name="url" ng-model="ctrl.widget.url">
</md-input-container>
<md-input-container class="md-block">
    <label>Width</label>
    <input type="text" name="width" ng-model="ctrl.widget.width">
</md-input-container>
<div layout="row" layout-align="center center">
    <img ng-src="{{ctrl.widget.url}}"
         width="{{ctrl.widget.width}}"
         class="md-card-image">
</div>
<md-button class="md-accent md-raised alxe-button-wide" ng-click="ctrl.removeUpload()"
           ng-show="ctrl.widget.upload">
    Remove Upload
</md-button>
<md-button accept="image/*" class="md-accent md-raised alxe-button-wide"
           ngf-select="ctrl.uploadImage($file, $invalidFiles)">
    Upload Image
</md-button>
<br/>
<div layout="row">
    <md-input-container flex>
        <label>Flickr Image Search</label>
        <input type="text" name="flickrSearch" ng-model="ctrl.searchTerm">
    </md-input-container>
    <md-button class="md-raised" ng-click="ctrl.searchPhotos(ctrl.searchTerm)">
        Search Flickr
    </md-button>
</div>
<md-grid-list md-cols-xs="5" md-cols-sm="10" md-cols-md="14" md-cols-gt-md="20"
              md-row-height-gt-md="1:1" md-row-height="2:2"
              md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile ng-repeat="photo in ctrl.photos.photo">
        <img ng-click="ctrl.selectPhoto(photo)"
             ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
    </md-grid-tile>
</md-grid-list>
