<md-input-container class="md-block">
    <label>Text</label>
    <input ng-model="ctrl.widget.text" class="form-control"/>
</md-input-container>
<md-input-container class="md-block">
    <label>Rows</label>
    <input ng-model="ctrl.widget.rows" class="form-control" type="number"/>
</md-input-container>
<md-input-container class="md-block">
    <label>Placeholder</label>
    <input ng-model="ctrl.widget.placeholder" class="form-control"/>
</md-input-container>
<md-input-container class="md-block">
    <label>Formatted</label>
    <input ng-model="ctrl.widget.formatted" type="checkbox"/>
</md-input-container>
