.arc-body {
  width: 100%;
  height: 100%;
}

arc-sidenav {
  overflow:visible !important;
  position:static;
  z-index:10;
}

arc-menu {
  position:relative;
}

arc-footing div{
  border-top: 1px solid #dddddd;
  width: 100%;
}

.arc-sidenav {
  max-width: 250px;
}

.arc-list {

}

.arc-list md-list-item {
  height:22px;
}

.arc-home-button {
  width: 90%;
}

.arc-discord {
  background-color: #7289DA !important;
}

.arc-discord:not([disabled]):hover {
  background-color: #7289DA !important;
  color: white;
}

.arc-discord[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}