.arc-body {
  width: 100%;
  height: 100%;
}

arc-sidenav {
  overflow:visible !important;
  position:static;
  z-index:10;
}

arc-menu {
  position:relative;
}

arc-footing div{
  border-top: 1px solid #dddddd;
  width: 100%;
}

.arc-sidenav {
  max-width: 225px;
}

.arc-list {

}

.arc-home-button {
  width: 90%;
}

.arc-discord {
  background-color: #7289DA !important;
}

.arc-discord:not([disabled]):hover {
  background-color: #7289DA !important;
  color: white;
}

.arc-discord[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

md-list {
  padding-top:0;
}

md-list-item {
  height:0 !important;
}
.arc-md-list-item div {
  height:100% !important;
}

.arc-discord-profile {
  min-height:64px !important;
  background-color: #282b30;
  color: #FFFFFF !important;
}

.arc-discord-profile h3{
  color: #FFFFFF !important;
}

.arc-discord-profile p{
  color: #777777 !important;
}

.arc-trix {
  padding: 3px;
}

.arc-trix trix-editor {
  min-height: 150px;
}

.arc-circle-img {
  border-radius: 50%;
}
