<div layout-padding layout-gt-sm="row" class="arc-window-size">
    <div layout="column" flex flex-gt-sm="30">
        <section class="md-whiteframe-2dp" layout="column" layout-padding flex="none">
            <form name="profile" ng-submit="ctrl.update()">
                <h2 class="md-headline">User Info</h2>
                <div layout="row" ng-if="!ctrl.user.discord.username">
                    <span>Username: </span>
                    <span>{{ctrl.user.username}}</span>
                </div>
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>First Name</label>
                        <input type="text" name="firstName"
                               ng-model="ctrl.user.firstName" disabled>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Last Name</label>
                        <input type="text" name="lastName"
                               ng-model="ctrl.user.lastName" disabled>
                    </md-input-container>
                </div>
                <div ng-if="ctrl.user.discord">
                    <h2 class="md-headline">Discord Info</h2>
                    <md-list>
                        <md-list-item class="md-2-line arc-discord-profile">
                            <img class="md-avatar"
                                 src="https://cdn.discordapp.com/avatars/{{ctrl.user.discord.id}}/{{ctrl.user.discord.avatar}}.jpg">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ctrl.user.discord.username}}</h3>
                                <p>#{{ctrl.user.discord.discriminator}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </form>
        </section>
        <section class="md-whiteframe-2dp" flex layout="column"
                 style="min-height:300px; margin-top: 16px">
            <div>
                <div ng-if="ctrl.canComment">
                    <trix-editor ng-if="ctrl.canComment" angular-trix
                                 ng-model="ctrl.commentContent"></trix-editor>
                </div>
                <div ng-if="!ctrl.canComment" layout="column" layout-align="center center"
                     style="height: 100px">
                    <span>Please log in to comment :)</span>
                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-if="ctrl.canComment" ng-click="ctrl.postComment()">Post
                    </md-button>
                </md-card-actions>
            </div>
            <md-content layout="column">
                <arc-comment ng-repeat="comment in ctrl.comments" comment="comment"
                             block="ctrl.bot.comments" ng-if="comment"></arc-comment>
            </md-content>
        </section>
    </div>
    <div layout="column" flex>
        <section class="md-whiteframe-2dp" layout="column">
            <div layout="row" layout-align="start center">
                <h2 class="md-headline" layout-padding>Their Amazing Bots</h2>
                <span flex></span>
            </div>
            <md-content hide show-gt-sm layout="row" flex="100">
                <div flex="50">
                    <arc-bot-card ng-repeat="bot in ctrl.botsLeft" bot="bot"></arc-bot-card>
                </div>
                <div flex="50">
                    <arc-bot-card ng-repeat="bot in ctrl.botsRight" bot="bot"></arc-bot-card>
                </div>
            </md-content>
            <div hide-gt-sm layout-wrap flex="noshrink">
                <arc-bot-card flex-gt-sm="50" ng-repeat="bot in ctrl.bots" bot="bot"></arc-bot-card>
            </div>
        </section>
    </div>
</div>
