<div layout-padding layout-gt-sm="row" class="arc-window-size">
    <div flex-gt-sm="50">
        <arc-bot-card bot="ctrl.bot" elevated="ctrl.elevated"></arc-bot-card>
        <md-card class="md-whiteframe-1dp arc-trix">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Comment</span>
                </md-card-title-text>
            </md-card-title>
            <div ng-if="ctrl.canComment">
                <trix-editor ng-if="ctrl.canComment" angular-trix ng-model="ctrl.commentContent"></trix-editor>
            </div>
            <div ng-if="!ctrl.canComment" layout="column" layout-align="center center" style="height: 100px">
                <span>Please log in to comment :)</span>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="ctrl.canComment" ng-click="ctrl.postComment()">Post</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout="column" flex>
        <section class="md-whiteframe-2dp" layout="column">
            <div layout="row" layout-align="start center">
                <h2 class="md-headline" layout-padding>Comments</h2>
            </div>
            <md-content hide show-gt-sm layout="column" flex="100">
                <arc-comment ng-repeat="comment in ctrl.comments" comment="comment" block="ctrl.bot.comments" ng-if="comment"></arc-comment>
            </md-content>
            <div hide-gt-sm layout-wrap flex="noshrink">
                <arc-comment ng-repeat="comment in ctrl.comments" comment="comment" block="ctrl.bot.comments" ng-if="comment"></arc-comment>
            </div>
        </section>
    </div>
</div>
