<div layout="row" ng-cloak>
    <md-content layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools alxe-toolbar-withlefticon">
                <md-menu ng-controller="MenuCtrl as menu" md-offset="0 40">
                    <md-button aria-label="Open menu" class="md-icon-button"
                               ng-click="menu.openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin>menu</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-href="#/user/{{ctrl.userId}}">
                                <md-icon>person</md-icon>
                                Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-href="#/user/{{ctrl.userId}}/website">
                                <md-icon>apps</md-icon>
                                Websites
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button class="md-warn" href="#/login">
                                <md-icon>close</md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <h1 class="md-headline">
                    <span>{{ctrl.websiteName}} > {{ctrl.pageName}}</span>
                </h1>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Add Widget"
                           ng-href="#/user/{{ctrl.userId}}/website/{{ctrl.websiteId}}/page/{{ctrl.pageId}}/widget/new">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex class="md-padding" layout="column">
            <div class="alxe-widget" ng-repeat="widget in ctrl.widgets"
                 ng-switch="widget.type">
                <div class="alxe-widget-menu" layout="row">
                    <md-button
                            ng-href="#/user/{{ctrl.userId}}/website/{{ctrl.websiteId}}/page/{{ctrl.pageId}}/widget/{{widget._id}}"
                            class="md-icon-button">
                        <md-icon>settings</md-icon>
                    </md-button>
                    <md-button class="md-icon-button">
                        <md-icon>drag_handle</md-icon>
                    </md-button>
                </div>
                <div ng-switch-when="HEADER" ng-switch="widget.size">
                    <h1 ng-switch-default>{{widget.text}}</h1>
                    <h2 ng-switch-when="2">{{widget.text}}</h2>
                    <h3 ng-switch-when="3">{{widget.text}}</h3>
                    <h4 ng-switch-when="4">{{widget.text}}</h4>
                    <h5 ng-switch-when="5">{{widget.text}}</h5>
                </div>
                <div ng-switch-when="IMAGE" layout="row" layout-align="center center">
                    <img ng-src="{{widget.url}}"
                         width="{{widget.width}}"
                         class="md-card-image">
                </div>
                <div class="alxe-widget-video" ng-switch-when="YOUTUBE" layout="row"
                     layout-align="center center">
                    <iframe ng-src="{{widget.url}}"
                            width="{{widget.width}}"
                            frameborder="0" allowfullscreen></iframe>
                </div>
                <div ng-switch-when="HTML" ng-bind-html="$sce.trustAsHtml(widget.text)">

                </div>
                <div ng-switch-when="TEXT" class="alxe-widget-text">
                    <md-input-container>
                        <label></label>
                        <div ng-if="widget.formatted" text-angular
                             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]"
                             ng-model="widget.text"></div>
                        <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                               placeholder="{{widget.placeholder}}"/>
                        <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                                  rows="{{widget.rows}}" placeholder="{{widget.placeholder}}">{{widget.text}}</textarea>
                    </md-input-container>
                </div>
            </div>
        </md-content>
</div>