<div layout="row" ng-cloak>
    <md-content layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools alxe-toolbar-withlefticon">
                <md-menu ng-controller="MenuCtrl as menu" md-offset="0 40">
                    <md-button aria-label="Open menu" class="md-icon-button"
                               ng-click="menu.openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin>menu</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-href="#/user/{{ctrl.userId}}">
                                <md-icon>person</md-icon>
                                Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-href="#/user/{{ctrl.userId}}/website">
                                <md-icon>apps</md-icon>
                                Websites
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button class="md-warn" href="#/login">
                                <md-icon>close</md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <h1 class="md-headline">
                    <span>{{ctrl.websiteName}} > {{ctrl.pageName}} > New Widget</span>
                </h1>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content flex class="md-padding" layout="column">
            <md-list class="alxe-list">
                <md-list-item ng-click="ctrl.new('HEADER')">
                    <p>Header</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
                <md-list-item>
                    <p>Label</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
                <md-list-item>
                    <p>HTML</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
                <md-list-item>
                    <p>Text Input</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
                <md-list-item>
                    <p>Link</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
                <md-list-item>
                    <p>Button</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
                <md-list-item ng-click="ctrl.new('IMAGE')">
                    <p>Image</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
                <md-list-item ng-click="ctrl.new('YOUTUBE')">
                    <p>YouTube Video</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
                <md-list-item>
                    <p>Data table</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
                <md-list-item>
                    <p>Repeater</p>
                    <md-icon>arrow_forward</md-icon>
                </md-list-item>
            </md-list>
        </md-content>
</div>