<div layout="column" ng-cloak>
    <md-content layout-padding>
        <h1 class="md-headline">Login</h1>
        <form name="login" ng-submit="ctrl.login()">
            <md-input-container class="md-block">
                <label>Username</label>
                <input required type="text" required md-no-asterisk name="username" ng-model="ctrl.username">
                <div ng-messages="login.username.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input required type="password" required md-no-asterisk name="password" ng-model="ctrl.password">
                <div ng-messages="login.password.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-button type="submit" class="md-primary md-raised alxe-button-wide">Login</md-button>
            <md-button class="md-accent md-raised alxe-button-wide" ng-href="#/register">Register</md-button>
            <md-button class="md-primary alxe-button-wide" ng-href="/auth/facebook">Facebook</md-button>
        </form>
    </md-content>
</div>