<div layout="row" ng-cloak>
    <md-content layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools alxe-toolbar-withlefticon">
                <md-menu ng-controller="MenuCtrl as ctrl" md-offset="0 40">
                    <md-button aria-label="Open menu" class="md-icon-button"
                               ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin>menu</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button href="#/profile">
                                <md-icon>person</md-icon>
                                Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button href="#/sites">
                                <md-icon>apps</md-icon>
                                Websites
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button class="md-warn" href="#/login">
                                <md-icon>close</md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <h1 class="md-headline">
                    <span>Profile</span>
                </h1>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content flex class="md-padding">
            <form name="profile">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input type="text" name="username" disabled ng-change="ctrl.checkChanged()"
                           ng-model="ctrl.user.username">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="email" name="email" ng-change="ctrl.checkChanged()"
                           ng-model="ctrl.user.email">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>First Name</label>
                    <input type="text" name="fname" ng-change="ctrl.checkChanged()"
                           ng-model="ctrl.user.firstName">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Last Name</label>
                    <input type="text" name="lname" ng-change="ctrl.checkChanged()"
                           ng-model="ctrl.user.lastName">
                </md-input-container>
                <md-button class="md-accent md-raised alxe-button-wide" ng-show="ctrl.changes"
                           ng-click="ctrl.update()">
                    Save
                </md-button>
                <md-button class="md-primary md-raised alxe-button-wide"
                           ng-href="#/user/{{ctrl.user._id}}/website">
                    Websites
                </md-button>
                <md-button class="md-warn alxe-button-wide" href="#/login">Logout</md-button>
            </form>
        </md-content>
    </md-content>
</div>