<div layout="row" ng-cloak>
    <md-content layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1 class="md-headline">
                    <span>Profile</span>
                </h1>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon class="material-icons">check</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex class="md-padding">
            <form name="profile">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input type="text" name="username" ng-model="$scope.tempUser">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="text" name="email" ng-model="$scope.tempEmail">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>First Name</label>
                    <input type="text" name="fname" ng-model="$scope.tempFName">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Last Name</label>
                    <input type="text" name="lname" ng-model="$scope.tempLName">
                </md-input-container>
                <md-button class="md-primary md-raised alxe-button-wide" href="#/profile">
                    Applications
                </md-button>
                <md-button class="md-warn alxe-button-wide" href="#/login">Logout</md-button>
            </form>
        </md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More" href="#/profile">
                    <md-icon class="material-icons">person</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
</div>