<div layout="row" ng-cloak>
    <md-content layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools alxe-toolbar-withlefticon">
                <md-menu ng-controller="MenuCtrl as ctrl" md-offset="0 40">
                    <md-button aria-label="Open menu" class="md-icon-button"
                               ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin>menu</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button href="#/profile">
                                <md-icon>person</md-icon>
                                Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button href="#/sites">
                                <md-icon>apps</md-icon>
                                Websites
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button class="md-warn" href="#/login">
                                <md-icon>close</md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <h1 class="md-headline">
                    <span>Websites</span>
                </h1>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Add Website"
                           ng-href="#/user/{{ctrl.userId}}/website/new">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex class="md-padding" layout-xs="column" layout="row">
            <div flex-xs="noshrink" flex-gt-xs="{{100 / ctrl.columns}}" layout="column"
                 ng-repeat="column in ctrl.sitesArray">
                <md-card flex="none" ng-repeat="site in column">
                    <md-button ng-href="#/user/{{ctrl.userId}}/website/{{site._id}}/page"
                               class="alxe-button-image"
                               aria-label="Edit Pages">
                        <img ng-src="./img/temporary/website-ng.PNG"
                             class="md-card-image alxe-card-img"
                             alt="{{site.name}}">
                    </md-button>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{site.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content ng-show="site.description">
                        <p>
                            {{site.description}}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center">
                        <md-button class="md-icon-button md-warn" aria-label="Delete">
                            <md-icon>delete</md-icon>
                        </md-button>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Edit"
                                   ng-href="#/user/{{ctrl.userId}}/website/{{site._id}}">
                            <md-icon>settings</md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
</div>